#appName {
    font-size: 24px;
color: #f7d6a5;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

button {
    background-color: #8f5b39;
    color: #f7d6a5;
    border: none;
    padding: 10px 20px;
    margin: 5px;

}

/*Usaremos esse envStyles para criar modificações separadas do geral. Vou adicionar um exemplo com span.*/

li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.returnButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;

}