body {
    background-color: #9c6028;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

main {
    background-color: #c46a21;
    border-radius: 8px;
    width: 95%;
    height: 95%;
    text-align: center;
    justify-content: center;
}